@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c4767;
  --foreground: #ffffff;
  --accent: #fe9920;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
